.body{
    font-family: 'Times New Roman', Times, serif;
}
.container {
    background-color: rgba(101, 107, 109, 0.2);
    margin: 30px 220px;
    padding: 30px;
    width: 800px;
    position:absolute;
    box-sizing: border-box;
    border-radius: 0px;
    height: 1500px;
    box-shadow: #101d24;
}
.name{
    text-align: center;
    margin-bottom: 3px;
}
.Details {
    text-align: center;
    margin-top: 15px;
    color: #000;
}
.Details h2{
    color: #000;
}

.summary{
    color: rgb(10, 131, 161);
}
p{
    color: #000;
}
.Education{
    margin-top: 7px 5px ;
}

h2{
    color: rgb(10, 131, 161);
    font-size: 20px;
}
footer{
    text-align: center;
    color: gray;
    font-size: 14px;
}
span {
    color: white;
    background-color: rgb(83, 197, 241);
    border-radius: 20px;
    margin: 10px 10px 20px 0px;
    width: 100%;
    height: 25px;
    padding: 10px;
}