.info{
    color: green;
    border-radius: 20px;
    background-color: black;
    margin: 10px 20px 10px 20px;
    padding: 10px 20px;
}
.container-fluid {
    background-image: url(../Homepageimage5.jpg);
    background-size: cover;
}

